.employees-wrapper {
    padding-top: 75px;
    padding-left: 25px;
}

.employee-card-wrapper {
    width: 85vw;
    height: 170px;
    border-radius: 6px;
    background: #151b22;
    padding-left: 25px;
    padding-top: 15px;
}
